<%= form_with model: @monologue, local: true, url: new_or_edit_path do |form| %>
<% if @monologue.errors.any? %>
	<h2><%= @monologue.errors.count %>件のエラーがあります。</h2>
	<ul>
		<% @monologue.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

    <div><%= form.text_field :content, size:95 %></div>
    <%= form.submit new_or_edit_submit_message %>
<% end %>