<h1>以下の内容でささやきますか?</h1>
<%= form_with model: @monologue, url: monologues_path, local: true do |form| %>
  <%= form.hidden_field :content %>

  <div><%= @monologue.content %></div>

  <%= form.submit  "ささやく" %>
<% end %>

<%= form_with model: @monologue, url: new_monologue_path, local: true, method: 'get' do |form| %>
  <%= form.hidden_field :content %>
  <%= form.submit  "やめる", name: 'back' %>
<% end %>

