<% if notice %>
  <div class="col-xs-10 col-xs-offset-1 alert alert-success"><%= notice %></div>
<% end %>

<% @monologues.each do |m| %>
  <div class="panel panel-default col-xs-10 col-xs-offset-1">
    <div class="panel-body">
      <%= simple_format m.content %>
    </div>
    <div class="edit-btn">
      <%= link_to 'Edit', edit_monologue_path(m.id), class: 'btn btn-success' %>
    </div>
    <div class="delete-btn">
      <%= link_to 'Delete', monologue_path(m.id), method: :delete, data: { confirm: '本当にささやきを消しますか?' }, class: 'btn btn-danger' %>
    </div>
  </div>
<%end%>

<div><%= link_to 'ささやく', new_monologue_path, class: 'sasakasu-btn btn btn-warning col-xs-offset-3 col-xs-6' %></div>